

dash==0.28.1
dash-core-components==0.30.2
dash-html-components==0.13.2
dash-renderer==0.14.1
dask==0.16.1



filelock==2.0.13
Flask==0.12.2
Flask-Compress==1.4.0
Flask-Cors==3.0.3
gunicorn==19.0.0

networkx==2.2

numpy==1.14.0
numpydoc==0.7.0

pandas==0.22.0
pandocfilters==1.4.2

path.py==10.5
pathlib2==2.3.0

pickleshare==0.7.4

plotly==3.3.0
scipy == 1.1.0